.f40 {
  font-size: 40rpx !important;
}
.t-right {
  text-align: right;
}
.t-center {
  text-align: center;
}
.mt100 {
  margin-top: 100rpx;
}
.mt200 {
  margin-top: 200rpx;
}
.mt15 {
  margin-top: 15rpx;
}
.mb15 {
  margin-bottom: 15rpx;
}
.mb10 {
  margin-bottom: 10rpx;
}
.mt25 {
  margin-top: 25rpx;
}
.mt35 {
  margin-top: 35rpx;
}
.mt45 {
  margin-top: 45rpx;
}
.tr {
  text-align: right;
}
.ml18 {
  margin-left: 18rpx;
}
.mt6 {
  margin-top: 6rpx;
}
.mt20 {
  margin-top: 20rpx;
}
.pd34 {
  padding: 34rpx 0;
}
.pl32 {
  padding-left: 32rpx;
}
.pr32 {
  padding-right: 32rpx;
}
.mtf4 {
  margin-top: -4rpx;
}
.color666 {
  color: #666666;
}
.bg-transparent {
  background-color: transparent!important;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.no-info-box {
  width: 100%;
  background-color: #fff;
  margin-bottom: 10px;
  padding: 0 10px;
  overflow: hidden;
}
.yg-empty-icon {
  width: 220rpx;
  height: 220rpx;
  vertical-align: middle;
  display: block;
  margin: 0 auto;
}
.Gray {
  color: #848484!important;
  display: block;
  text-align: center;
}
.btn-visi {
  overflow: visible;
  cursor: pointer;
}
.block {
  display: block;
}
.slh {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.slh-two {
  overflow: hidden;
  word-wrap: break-word;
  word-break: normal;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
